* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #eaefef;
  --gray: #bfc9d1;
  --dark-gray: #25343f;
  --darker: #252525;
  --accent: #ff9b51;
  --warm-muted: #d4a574;
  --font-size: 16px;
}

body {
  background-color: var(--darker);
  color: var(--light-gray);
  font-size: var(--font-size);
  font-family: "consolas", sans-serif;
}

h1 {
  font-size: 5em;
  font-family: "Funnel Display", "consolas", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

#p1 {
  color: var(--accent);
}

#p2 {
  color: var(--gray);
}

#p3 {
  color: var(--warm-muted);
}

button {
  background-color: var(--accent);
  color: var(--darker);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
